.firstportion{
    display: inline-block ;
}
.msicon{
   
    display: inline block;
    padding-top: 15px;
    padding-left: 50px;
   }
  .experience{
    position: relative;
    display: inline  ;
    padding-top: 10px;
    padding-left: 5px;

  }
  .get{
    display: inline  ;
    padding-top: 10px;
    padding-left: 103px;
  }
  .nothanks{
    display: inline   ;
    padding-top: 1px;
    text-align: right;
  }
  .trynow{
    border-radius: 3px 3px;
  }
  .secondportion{
    display: inline block;
  }
.mswindowicon{
   height: 25px;
   width:90px;
   padding-left: 40px;
   position: relative;
  
}
ul{
    list-style-type: none;
    overflow: hidden;
    padding-left: 30px;
  
   }
   li{
    
    float: left;
   }
   li a{
    display: inline-block;
    text-align: center;
    padding: 16px;
    color: black;
    }
    .require{
        background-color: #0067b8;
        color: white;
        justify-content:  center;
        border-width: 1px;
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 0;
        }
    .imageplaced
    {
        position: relative;
        text-align: center;
        max-width: 100%;
       
    }
    .centered{
        display: block;
        position: absolute;
        color: black;
        top: 2rem;
        left: 18rem;
        padding: 0 1rem;
      }
      .learnmore{
        display: block;
        color: black;
        background-color: #0067b8;
        border: none;   
        text-decoration: none;
        font-size: 20px;
        margin: 2px 2px;
       }
      .handlingbuttons{
        display: inline block;
        box-sizing: border-box;
       }
    .fourthportion{
        box-sizing: border-box;
       display: inline-block;
    }
    .pause{
      float: left;
        padding-left: 50px;
        width: 5%;
        padding: 1px;
        }
        
    .ms365 {
        float:left;
        width: 15%;
        padding: 50px;
        color: #0067b8;
      }
      .handlingbuttons::after{
        content: "";
        clear: both;
        display: table;
      }
      
      .fourthportion::after {
        content: "";
        clear: both;
        display: table;
      }
      .box {
        float:left;
        width: 15%;
        padding: 65px;
        color: #0067b8;
      }
      .fifthportion::after {
        content: "";
        clear: both;
        display: table;
      }
      .float-left{
        display: block;
        position: absolute;
        color:white;
        top: 200px;
        left: 75px;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        
      }
      .joinnow{
        display: block;
        color: white;
        background-color: #0067b8;
        border: none;   
        text-decoration: none;
        font-size: 20px;
        margin: 2px 2px;
        border-radius: .125rem;
       }
       .highlightimage
       {
           position: relative;
           text-align:center;
           max-width: 100%;
          
       }
       .content {
        float:left;
        width: 20%;
        padding: 25px;
        color:black
      }
      .followms {
        display: inline block;
        float:left;
        width: 3%;
        padding: 25px;
        color:black
      }
      .eightportion{
        display: inline block;
      }
      
